/*partial and import*/
@import '_bootstrap.scss';
@import 'font-awesome.scss';

.ticket{
    h3{
        text-align: center;
        padding-bottom: 10px;
    }
    textarea { resize: vertical; }
    .col-sm-3{
        padding-left: 5px;
        padding-right: 5px;
        .panel-title {
            word-break: break-word;
        }
        .panel-body{
            height: 400px;
            overflow-y: auto;
            .ticket-panel{
                cursor: pointer;
                p,div,h3{
                    cursor: pointer;
                }
                p{
                    overflow: hidden;
                    padding-left: 8px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
    }
}
